<!DOCTYPE html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<html>
    <body>
        <h1>Smart Home Control</h1>
        <form method="POST" action="/">
            <input type="submit" name="smart_switch" value="Smart Switch">
            <input type="submit" name="intruder_alert" value="Intruder Alert">
        </form>
        <h1>Smart Home Status</h1>
        <p id="nightLight">Night Light: </p>
        <p id="airConditioning">Air Conditioning: </p>
        <p id="smartSwitch">Smart Switch: </p>
        <p id="temperature">Temperature: </p>
        <p id="intruderAlert">Intruder: </p> 
        <script>document.write('<script src="../static/script.js?dev=' + Math.floor(Math.random() * 10000) + '"\><\/script>');</script>
    </body>
</html>