<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Calls jQuery JavaScript library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Calls Bootstrap library-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Gets favicon for website-->
    <link rel="shortcut icon" type="image/png" href="../static/wifi.png"/>
    <!-- Calls FontAwesome Library-->
    <script src="https://kit.fontawesome.com/f5138581bf.js" crossorigin="anonymous"></script>
    <!-- Calls CSS, and tacks on a random 4-digit number to prevent caching -->
    <script>document.write('<link rel="stylesheet" type="text/css" href="../static/style.css?dev=' + Math.floor(Math.random() * 10000) + '"\>');</script>
    <title>Smart Home Project</title>
</head>
<html>
    <body>
        <!-- Buttons -->
        <div class="container-fluid" id="main">
            <h1 class="text-center">Smart Home Control</h1>
            <form method="POST" action="#">
                <div class="text-center">
                    <input type="submit" name="smart_switch" value="Smart Switch">
                    <input type="submit" name="intruder_alert" value="Intruder Alert">
                </div>
            </form>
            <!-- Arduino Status -->
            <h1 class="text-center">Smart Home Status</h1>
            <div id="status-center">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text" id="nightLight-icon"><i class="fas fa-lightbulb fa-9x"></i></p>
                        <p class="card-text"><strong>Night Light: </strong> <span id="nightLight"></span></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text"><i id="airConditioning-icon" class="fas fa-fan fa-9x"></i></p>
                        <p class="card-text"><strong>Air Conditioning:</strong> <span id="airConditioning"></span></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text"><i id="smartSwitch-icon" class="fas fa-toggle-on fa-9x"></i></p>
                        <p class="card-text"><strong>Smart Switch:</strong> <span id="smartSwitch"></span></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text"><i id="temperature-icon" class="fas fa-thermometer-half fa-9x"></i></p>
                        <p class="card-text"><strong>Temperature:</strong> <span id="temperature"></span></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text"><i id="intruderAlert-icon" class="fas fa-exclamation fa-9x"></i></p>
                        <p class="card-text"><strong>Intruder Alert:</strong> <span id="intruderAlert"></span></p> 
                    </div>
                </div>
            </div>
            <!-- Calls JavaScript, and tacks on a random 4-digit number to prevent caching -->
            <script>document.write('<script src="../static/script.js?dev=' + Math.floor(Math.random() * 10000) + '"\><\/script>');</script>
        </div>
    </body>
</html>